* {
    font-family: 'Montserrat', sans-serif;
}


/* LOADER */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loader.gif") 50% 50% no-repeat rgb(249, 249, 249);
    opacity: 1.0;
}


/* VAR DE CORES */

:root {
    --main-color: #FCACC9;
    --second-color: #F5AB07;
    --third-color: #9FE6DE;
    --fourth-color: #68CFCB;
    --fifth-color: #24719F;
    --six-color: #FEF045;
}


/* HOVER CAROUSEL */

.card {
    border: 0px !important;
}

.card:hover {
    background-color: var(--fourth-color);
    font-size: 2.75vh;
}

.card:hover .card-img-top {
    border: 1px solid #000;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}


/* HOVER INSIDE HOVER */

.card:hover .card-text {
    background-color: var(--six-color);
    color: var(--fifth-color);
    font-weight: 700;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}


/* FONTES DA PÁGINA */

.fa-arrow-down {
    font-size: 5vh;
}

h1 {
    color: whitesmoke;
    text-shadow: 1.25px 1.25px #000;
}

h2 {
    color: var(--second-color);
    text-shadow: 1px 1px #000;
}


/* BORDER */

.border-info {
    border-color: var(--fourth-color) !important;
}


/* DIV GERAL */

#img-onda,
#texto-principal,
#video {
    background-color: var(--main-color);
}


/* VIDEO E TEXTO */

#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.content {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    width: 100%;
    height: 120%;
    padding: 20px;
}


/* DIV PRINCIPAL */

#principal {
    margin-top: 15em;
}

#principal h1 {
    font-size: 10vh;
}

#principal h2 {
    font-size: 5vh;
}

#principal button {
    font-size: 5vh;
}

#video button {
    font-size: 5vh;
}

#texto-principal img {
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    -webkit-transform: rotate(-20deg);
    /* Safari 3-8 */
    transform: rotate(-20deg);
}

#texto-principal span {
    font-size: 2.5vh !important;
}

#texto-principal p {
    font-size: 3.5vh !important;
}


/* DIV VIDEO */

#video p {
    font-size: 2.7vh;
}


/* DIV CARACTERISTICAS */

#caracteristicas img {
    height: 40vh;
}

#caracteristicas {
    background-color: var(--fourth-color)
}

#caracteristicas h3 {
    color: whitesmoke;
}

#caracteristicas h4 {
    color: var(--fifth-color);
}

#caracteristicas p {
    color: whitesmoke;
}


/* DIV QUALIDADE */

#qualidade {
    background-color: #FFF;
}

#img-onda-rosa {
    background-color: #FFF;
}


/* FALE CONOSCO */

#fale-conosco,
footer {
    background-color: var(--main-color);
    color: #FFF;
}


/* PRODUTOS */

#produtos a {
    font-size: 2vh;
}


/* PERGUNTAS FREQUENTES */

#perguntas-frequentes-sessao {
    background-color: var(--third-color);
}

#perguntas-frequentes-sessao h3 {
    color: var(--fifth-color);
}

#perguntas-frequentes-sessao .card-body {
    background-color: white !important;
}


/* RESPONSIVO PARA CELULAR */

@media(min-width:300px) and (max-width:1000px) {
    .content {
        height: 70%;
    }
    footer {
        font-size: 1.5vh;
    }
    #principal {
        margin-top: 0em;
    }
    #principal button {
        font-size: 2vh;
    }
    #video button {
        font-size: 2vh;
    }
    #principal h1 {
        font-size: 3vh;
    }
    #principal h2 {
        font-size: 2.75vh;
    }
    #principal h5 {
        font-size: 1.75vh;
    }
    #video h5 {
        font-size: 2.75vh !important;
    }
    #texto-principal p {
        font-size: 2.7vh !important;
        text-align: center;
        margin-top: 0 !important;
    }
    #texto-principal span {
        font-size: 2vh !important;
    }
    #texto-principal img {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Safari 3-8 */
        transform: rotate(0deg);
    }
    #caracteristicas h3 {
        font-size: 3vh;
    }
    #qualidade h3 {
        font-size: 3vh;
    }
    #fale-conosco h3 {
        font-size: 3vh;
    }
    #fale-conosco h5 {
        font-size: 1vh;
    }
    #caracteristicas h4 {
        font-size: 2.75vh;
    }
    p {
        font-size: 2vh;
    }
    #alta-durabilidade {
        margin-top: 0 !important;
    }
    #img-cerdas-id {
        margin-top: 5vh;
    }
}