<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145426988-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145426988-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="j59Ie9wicT6QcMDQP11Zq4jlyq5DfTw__O0uDi3Y5r8" />
    <meta author="Gabriel Júnior de Souza">
    <meta name="description"
        content="Descubra porque as Luvas Magic Cleaner 2.0 é o acessório de cozinha número 1 do mundo!">
    <meta name="keywords"
        content="luvas limpeza curitiba, luva de limpeza amarela, luva de limpeza amarela, luva de limpeza borracha, luva de limpeza longa, magic cleaner, magic cleaner 2.0, luva magic, luva magic cleaner">
    <meta name="robots" content="INDEX,FOLLOW">

    <title>Luvas Magic Cleaner 2.0</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/glove.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="loader"></div>
    <div class="container-fluid" id="app">
        <div class="row">

            <video autoplay muted loop id="myVideo">
                <source src="video/video-novo.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>

            <div class="content">
                <!-- SESSÃO PRINCIPAL -->
                <div id="principal" class="col-lg-12 text-center">
                    <h2 class="">IMAGINE...</h2>
                    <h5>SEU DIA A DIA <b>MAIS SIMPLES</b></h5>
                    <h1 class="font-weight-bold">LUVAS MAGIC CLEANER 2.0</h1>
                    <a href="#produtos" target="_blank" rel="noopener noreferrer">
                        <button class="btn btn-danger mt-3">COMPRAR AGORA</button>
                    </a>
                </div>
            </div>

            <!-- SESSÃO  TEXTO PRINCIPAL -->
            <div id="texto-principal" class="col-lg-12 pt-5">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row">
                            <img class="col-lg-6 col-6" src="img/img-luvas.png" alt="Luvas Magic Cleaner"
                                title="Luvas Magic Cleaner">
                            <div class="col-lg-5 offset-lg-1 col-6 mt-5">
                                <p class="mt-5">
                                    <b>Uma solução<br> verdadeiramente<br> simples,</b><br><span>mas totalmente
                                        inovadora<br> para facilitar a<br> sua vida!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- IMAGEM DE ONDA DIVISORIA -->
            <div id="img-onda" class="w-100">
                <img class="w-100" src="img/bg-onda.png" alt="Onda" height="150" title="Luvas Magic Cleaner">
            </div>

            <!-- SESSÃO VÍDEO -->
            <div id="video" class="col-lg-12 text-center p-5">
                <h5>Descubra porque as Luvas Magic Cleaner 2.0 é o acessório de cozinha número 1 do mundo!
                </h5>
                <video class="col-lg-8 p-2 mt-3  " controls>
                    <source src="video/video-novo.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <br>
                <a href="#produtos" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-danger mt-3">SIM, EU QUERO!</button>
                </a>
            </div>

            <!-- SESSÃO CARACTERISTICAS -->
            <div id="caracteristicas" class="col-lg-12 text-center pb-5 pt-5 font-weight-bold">
                <h3 class="font-weight-bold">CHEGA DE ESTRESSE NA COZINHA!</h3>
                <p class="mb-5">Não passe mais trabalhos com luvas frágeis e <br> que dificultam o manuseio dos itens na
                    limpeza
                </p>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row">
                            <div id="alta-durabilidade" class="col-lg-6">
                                <h4 class="font-weight-bold ">ALTA DURABILIDADE</h4>
                                <hr>
                                <p>Feito de silicone de alta qualidade e favorável ao meio ambiente. Também é
                                    classificado como silicone SGS, o que significa que é seguro usar com alimentos.</p>
                            </div>
                            <img class="col-lg-4 offset-lg-2 rounded-circle" src="img/img-cerdas.jpg"
                                alt="Imagem Luva Durabilidade" title="Luvas Magic Cleaner">
                        </div>
                    </div>

                    <div class="col-lg-8 offset-lg-2">
                        <div class="row">
                            <img id="img-cerdas-id" class="col-lg-4 rounded-circle" src="img/img-durabilidade.jpg"
                                alt="Imagem Luva Durabilidade" title="Luvas Magic Cleaner">

                            <div id="alta-durabilidade" class="col-lg-6 offset-lg-2">
                                <h4 class="font-weight-bold mt-5">CERDAS EFICIENTES</h4>
                                <hr>
                                <p>Ela foi projetado para espumar e esfregar com eficácia, protegendo as mãos e é
                                    anti-arranhões.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SESSÃO QUALIDADE -->
            <div id="qualidade" class="col-lg-12 text-center pt-5">
                <h3 class="font-weight-bold">VOCÊ SÓ TEM A GANHAR!</h3>
                <a href="#produtos" target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-danger mt-3 col-lg-3">COMPRAR AGORA</button>
                </a>
                <div id="app" class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row">
                            <div class="card col-lg-4 offset-lg-0 col-10 offset-1 mt-5" style="width: 18rem;"
                                v-for="titulo in titulos">
                                <img class="card-img-top rounded-circle" :src="'img/' + titulo.link"
                                    alt="Card image cap" title="Luvas Magic Cleaner">
                                <div class="card-body">
                                    <p class="card-text">{{titulo.titulonome}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- IMAGEM DE ONDA DIVISORIA -->
            <div id="img-onda-rosa" class="w-100 mt-5">
                <img class="w-100" src="img/bg-onda-rosa.png" alt="Onde" height="150" title="Luvas Magic Cleaner">
            </div>

            <!-- PRODUTOS -->
            <div id="produtos" class="col-lg-12 text-center mt-5 mb-5">
                <h4>ONDE E COMO COMPRAR MINHAS LUVAS MAGIC CLEANER 2.0?</h4>
                <p class="col-lg-8 offset-lg-2 mt-5">
                    Ela só é vendida pela internet. Não aceite imitações, pois as verdadeiras Luvas Magic Cleaner 2.0
                    são fabricadas com plástico resistente de alta higiene e durabilidade. Produto 100% testado,
                    aprovado e recomendado.
                </p>
                <div class="row" id="app">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row ">
                            <div class="card col-lg-4 offset-lg-0 col-10 offset-1 " style="width: 18rem;"
                                v-for="produto in produtos">
                                <div class="card-body">
                                    <img class="card-img-top" :src="'img/' + produto.link" title="Luvas Magic Cleaner">
                                    <p class="card-text text-center mt-2">{{produto.produtopreco}}</p>
                                    <h4 class="card-text text-center mt-2 font-weight-bold">{{produto.real}}</h4>
                                    <h5 class="card-text text-center mt-2 font-weight-bold">{{produto.centavo}}</h5>
                                    <h6 class="card-text text-center mt-2 font-weight-bold">{{produto.texto}} <br>
                                        {{produto.total}}
                                    </h6>
                                    <hr>
                                    <p class="text-center">ESCOLHA SEU PACOTE/COMBO:</p>

                                    <div class="col-lg-8 offset-lg-2 text-center border mb-1"
                                        v-for="detalhe in produto.detalhebotoes">
                                        <a class="col-lg-1 mt-3" v-bind:href="detalhe.link" target="_blank"
                                            rel="noopener noreferrer" v-for="corluva in detalhe.cor">
                                            <i class="fas fa-mitten" v-bind:style="{color: corluva.corluva}"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PERGUNTAS FREQUENTES -->
            <div id="perguntas-frequentes-sessao" class="col-lg-12 pt-5 pb-5">
                <h3 class="text-center">PERGUNTAS FREQUENTES</h3>

                <div class="col-lg-12 mt-5">
                    <button class="btn btn-danger col-lg-6 offset-lg-3" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Quantas luvas eu recebo?
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class=" card-body col-lg-6 offset-lg-3 text-center border">
                            Você receberá um par de luvas (duas luvas) da cor que escolheu.
                        </div>
                    </div>
                    <!-- 2 -->
                    <button class="btn btn-danger col-lg-6 offset-lg-3 mt-2" type="button" data-toggle="collapse"
                        data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        Posso lavar alimentos com a luva?
                    </button>
                    <div class="collapse" id="collapseExample2">
                        <div class=" card-body col-lg-6 offset-lg-3 text-center border">
                            Sim, o material de silicone da luva pode conduzir e lavar alimentos sem problemas.
                        </div>
                    </div>
                    <!-- 3 -->
                    <button class="btn btn-danger col-lg-6 offset-lg-3  mt-2" type="button" data-toggle="collapse"
                        data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        Como esterilizar a minha luva?
                    </button>
                    <div class="collapse" id="collapseExample3">
                        <div class="card-body col-lg-6 offset-lg-3 text-center border">
                            O processo de esterilização é simples. Basta ferver água em uma panela e deixar suas luvas
                            por 2 minutos ou esquentar água no microondas e deixar as luvas também por 2 minutos.
                        </div>
                    </div>
                    <!-- 4 -->
                    <button class="btn btn-danger col-lg-6 offset-lg-3  mt-2" type="button" data-toggle="collapse"
                        data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                        Posso utilizar as luvas para outras atividiades, além de lavar louças?
                    </button>
                    <div class="collapse" id="collapseExample4">
                        <div class=" card-body col-lg-6 offset-lg-3 text-center border">
                            Sim, voce pode banhar seu pet, lavar o carro, limpar azuleijos e outros locais. O ideal é
                            separar as luvas das louças das luvas que utiliza para as outras atividades.
                        </div>
                    </div>
                    <!-- 5 -->
                    <button class="btn btn-danger col-lg-6 offset-lg-3  mt-2" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                        O sistema de pagamento online é seguro?
                    </button>
                    <div class="collapse" id="collapseExample5">
                        <div class=" card-body col-lg-6 offset-lg-3 text-center border">
                            Sim. Utilizamos como plataforma de pagamentos o Mercado Pago, líder da pagamentos no Brasil.
                            É utilizado criptografia de 256 bits e outros diversos protocolos de segurança para manter
                            sua informação segura, assim, ninguém possui acesso aos seus dados
                            financeiros e pessoais.
                        </div>
                    </div>
                    <!-- 6 -->
                    <button class="btn btn-danger col-lg-6 offset-lg-3  mt-2" type="button" data-toggle="collapse"
                        data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
                        Já comprei! Como faço para rastrear meu produto?
                    </button>
                    <div class="collapse" id="collapseExample6">
                        <div class=" card-body col-lg-6 offset-lg-3 text-center border">
                            Todas as compras possuem código de rastreamento que pode ser acompanhado desde a origem até
                            a chegada em sua residência. O código pode ser verificado no seu e-mail e rastreado no botão
                            abaixo.
                        </div>
                    </div>
                </div>
            </div>


            <!-- FALE CONOSCO -->
            <div class="col-lg-12 mt-5 mb-5 text-center">
                <h3>FALE CONOSCO</h3>
                <h5 class="col-lg-8 col-12 offset-lg-2 mt-5">
                    Se você ainda tiver dúvidas sobre as Luvas Magic Cleaner 2.0, de como ela é fabricada, sua
                    funcionalidade, entre em contato conosco através do nosso email:
                    <a href="mailto:contato@enovidades.com">contato@enovidades.com</a>
                </h5>
                <a id="btn-fale-conosco" href="#produtos" target="_blank" rel="noopener noreferrer">
                    <button class="btn col-lg-3 btn-danger mt-3">COMPRAR AGORA</button>
                </a>
            </div>

            <!-- RODAPE ICONES-->
            <div id="fale-conosco" class="col-lg-12 col-12 p-5 text-center">
                <img class="col-12 col-lg-6" src="img/iconesrodape.png" alt="iconesrodape" title="Luvas Magic Cleaner">
            </div>

            <!-- FOOTER -->
            <footer class="col-lg-12 col-12 text-center text-dark p-3 font-weight-bold">© 2019 Copyright | LUVAS MAGIC
                CLEANER 2.0 | Todos os direitos reservados</footer>
        </div>

        <!-- SCRIPTS DA PÁGINA -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

        <!-- SMOOTH SCROLL -->
        <script>
            $(document).ready(function () {
                // Adiciona o smooth scrolling em todos as tags "a"
                $("a").on('click', function (event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Previne o erro ao ancorar links
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // usando uma animação jQuery para produzir o efeito do smooth scrolling
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {

                            // Adicione a "#exemplo" nos links para acontecer a rolagem
                            window.location.hash = hash;
                        });
                    }
                });
            });
        </script>

        <!-- INICIALIZANDO O LOADER -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $(".loader").fadeOut("slow");
            });
        </script>

        <script src="js/vue.js"></script>
</body>

</html>